[gpg]
	format = ssh
[user]
	signingkey = /Users/port19/.ssh/github.pub
	name = port19
	email = port19@port19.xyz
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[alias]
	a = add
	ap = add -p
	ai = add -i
	c = commit -m
	cc = commit --amend --no-edit
	cv = commit -v
	cl = clone
	cl1 = clone --depth 1
	cll = fetch --unshallow
	d = diff
	l = log --graph --pretty=format:"%h %ar %an : %s" --stat
	ls = log -S
	lss = log -S --pickaxe-regex
	lg = log --grep
	p = push
	pp = push --force-with-lease
	pr = "!f() { git fetch origin pull/$1/head && git switch --detach FETCH_HEAD; }; f"
	s = status -s
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
