@import "colors.css";
@import "fonts.css";

#window {
  border: 2px solid  @base01;
  border-radius: 12px;
  background-color: @base00;
}

#input {
  color: @base05;
  border: 2px solid @base01;
  border-radius: 12px;
  background-color: @base00;
}

#outer-box {
  margin: 10px;
}

#scroll {
  margin: 5px 0px;
  color: @base05;
}

#scroll label {
  margin: 1px 1px;
}

#entry:selected{
  color: @base05;
  background-color: @base01;
}
