window {
    font-family: mononoki;
    border: 2px solid  #073642;
    border-radius: 12px;
    background-color: #002b36; 
}

#input {
    color: #93a1a1;
    border: 2px solid #073642;
    border-radius: 12px;
    background-color: #002b36;
    font-size: 18px;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #93a1a1;
}

#scroll label {
    margin: 1px 1px;
}

#entry:selected {
    color: #93a1a1;
    background-color: #073642;
}
